<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="users.component.css">
</head>

<body>
    <div class="navbar">
        <h1>Pulpería la Legua-Cuentas por Cobrar</h1>
        <div class="user-info">
            <img src="https://scontent.fsyq1-1.fna.fbcdn.net/v/t39.30808-6/305993415_453949056755691_5413879430289930291_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=gF2hbRkShUgAX_T1Oy8&_nc_ht=scontent.fsyq1-1.fna&oh=00_AfBwR2G72TojbEEJ9NLr0CvDi5TWfuDUq9HudKFOz6lDHA&oe=65464237"
                alt="Imagen de bienvenida" style="width: 100px; height: auto;">
        </div>
    </div>
    <br>
    <!-- Agregar botones -->
    <div class="button-container">
        <div class="centered-buttons">
            <button class="button add-button">Agregar Cuenta</button>
            <button class="button edit-button">Editar Cuenta</button>
            <button class="button delete-button">Eliminar Cuenta</button>
        </div>
    </div>
    <main>
        <div class="container" id="cuentas-por-cobrar">
            <table class="table">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Fecha de Compra</th>
                        <th>Total</th>
                        <th>Saldo Pendiente</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Ejemplo de 5 cuentas por cobrar en un supermercado -->
                    <tr>
                        <td>Juan Pérez Rodríguez</td>
                        <td>2023-10-15</td>
                        <td>₡78,000</td>
                        <td>₡39,000</td>
                        <td>+506 8765-4321</td>
                        <td>juan.perez@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Maria González López</td>
                        <td>2023-10-18</td>
                        <td>₡52,000</td>
                        <td>₡26,000</td>
                        <td>+506 7263-1551</td>
                        <td>maria.gonzalez@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Luis Rodríguez Sánchez</td>
                        <td>2023-10-20</td>
                        <td>₡130,000</td>
                        <td>₡65,000</td>
                        <td>+506 8788-9439</td>
                        <td>luis.rodriguez@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Sofía Hernández Pérez</td>
                        <td>2023-10-22</td>
                        <td>₡39,000</td>
                        <td>₡19,500</td>
                        <td>+506 6245-1707</td>
                        <td>sofia.hernandez@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Carlos Fernández López</td>
                        <td>2023-10-25</td>
                        <td>₡97,500</td>
                        <td>₡48,750</td>
                        <td>+506 6922-3193</td>
                        <td>carlos.fernandez@gmail.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class="row justify-content-between">
            <div class="col-md-4 mb-2">
                <button type="submit" routerLink="/main" class="custom-button">Regresar</button>
            </div>
        </div>
    </main>
</body>

</html>